$white: #fff;
$light-grey: #f8f8f8;
$orange: #ff6c00;
$grey: #444;

.game-summary {
  font-family: "RobotoRegular";
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  padding: 30px;
  padding-top: 60px;
  background-color: $light-grey;

  img {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
  }

  p {
    display: block;
    font-size: 100%;
    color: $orange;
    width: 70%;
    text-align: left;
    margin: 0;
  }

  h3 {
    display: block;
    font-weight: lighter;
    text-align: center;
    color: $grey;
    font-size: 120%;
  }

  .button-end {
    display: block;
    font-family: "UbuntuMedium";
    font-size: 90%;
    color: $white;
    background-color: $orange ;
    border-radius: 5px;
    border-color: #ffac60;
    margin: 0px auto;
    text-align: center;
  }

  .button-back {
    display: block;
    font-family: "UbuntuMedium";
    font-size: 90%;
    color: $white;
    background-color: #ccc ;
    border-radius: 5px;
    border-color: #bbb;
    margin: 0 auto;
    text-align: center;
  }
  button {
    height: 35px;
    width: 150px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .score {
    display: block;
    position: relative;
    background-color: $white;
    color: #ccc;
    border: solid 1px #ddd;
    max-width: 280px;
    width: 100%;
    height: 170px;
    margin: 30px auto;
    &__number {
      display: inline-block;
      position: absolute;
      right: 50px;
      color: $orange;
    }
  }
  ul {
    display: block;
    font-family: "RobotoRegular";
    font-weight: lighter;
    font-size: 75%;
    list-style-type: decimal;
    color: $grey;
  }
  li {
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 320px) {
  .game-summary {
    width: 260px;
    height: 390px;
  }
}

@media only screen and (min-width: 480px) {
  .game-summary {
    width: 420px;
    height: 710px;
    font-size: 130%;
    padding-top: 60px;
    button {
      height: 40px;
    }
    p {
      text-align: center;
    }
  }
}

@media only screen and (min-width: 768px) {
  .game-summary {
    width: 280px;
    height: 350px;
    font-size: 120%;
    padding-top: 30px;
    background-color: $white;
    border-right: solid 2px #ddd;
    border-bottom: solid 2px #ddd;
    margin-top: 100px;
    margin-bottom: 223px;
    img {
      display: none;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 140%;
    }
    p {
      font-size: 110%;
      margin-top: 30px;
      margin-bottom: 0;
      text-align: left;
    }
    button {
      width: 120px;
      height: 35px;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      font-size: 80%;
    }
    .score {
      margin-top: 10px;
    }
  }
}
