$white: #fff;
$light-grey: #f8f8f8;
$orange: #ff6c00;
$grey: #444;

.create-new-game {
  font-family: "RobotoRegular";
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  padding: 30px;
  padding-top: 60px;
  background-color: $light-grey;

  img {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .create-game {
    order: -1;
  }

  .options {
    display: flex;
    flex-direction: column;
  }

  .saved-game, .create-game {
    display: flex;
    font-family: "RobotoLight";
    background-color: $white;
    border-right: solid 2px #ddd;
    border-bottom: solid 2px #ddd;
    vertical-align: middle;
    height: 40px;
    padding-left: 10px;
    margin: 5px;
    p {
      display: block;
      margin: auto 10px;
      text-align: left;
      vertical-align: middle;
      font-size: 80%;
      color: #888;
      width: 70%;
      color: $grey;
      text-decoration: none;
      padding: 0;
      font-size: 110%;
    }
  }
  .button-create {
    display: block;
    font-family: "UbuntuMedium";
    font-size: 90%;
    color: $white;
    background-color: $orange ;
    border-radius: 5px;
    border-color: #ffac60;
    text-align: center;
  }

  .button-cancel {
    display: block;
    font-family: "UbuntuMedium";
    font-size: 90%;
    color: $white;
    background-color: #ccc ;
    border-radius: 5px;
    border-color: #bbb;
    text-align: center;
    margin-top: 100px;
  }
  button {
    height: 35px;
    width: 160px;
    margin: 10px auto;
  }

}

@media only screen and (min-width: 320px) {
  .create-new-game {
    width: 260px;
    height: 390px;
  }
}

@media only screen and (min-width: 480px) {
  .create-new-game {
    width: 420px;
    height: 710px;
    font-size: 130%;
    padding-top: 60px;

    .saved-game, .create-game {
      margin-top: 10px;
      margin-bottom: 20px;
      height: 50px;
      padding-left: 10px;
    }
    .icon {
      width: 30px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .create-new-game {
    width: 470px;
    height: 283px;
    font-size: 120%;
    padding-top: 30px;
    border-right: solid 2px #ddd;
    border-bottom: solid 2px #ddd;
    background-color: $white;
    margin-top: 50px;
    margin-bottom: 340px;

    .saved-game, .create-game {
      margin-top: 10px;
      margin-bottom: 20px;
      height: 50px;
      padding-left: 10px;
    }
    button {
      margin-top: 20px;
    }
    .button-cancel {
      margin-top: 20px;
    }
    img {
      display: none;
    }
  }
}
